/Clases/Clase 1/nbproject/private/
/Clases/Clase 1/build/
/Clases/Clase 1/dist/
/Clases/Clase 2/nbproject/private/
/Clases/Clase 2/build/
/Clases/Clase 3/Clase3/nbproject/private/
/Clases/Clase 3/Clase3/build/
/Clases/Ejemplo Clase 4/nbproject/private/
/Clases/Ejemplo Clase 4/build/
/Clases/Clase5/nbproject/private/
/Clases/Clase5/build/
/Clases/Clase7/nbproject/private/
/Clases/Clase7/build/
/Clases/Clase7/dist/
/Clases/Clase9/nbproject/private/
/Clases/Clase9/build/
